/** @format */

@tailwind base;
@tailwind components;
@tailwind utilities;

.slide-right-animate {
  transform: translateX(0);
}

.slide-left-animate {
  transform: translateX(-300px);
  width: 0;
  animation: animationLeft 500ms ease;
}


@keyframes animationLeft {
  from {
    width: 300px;
  }

  to {
    width: 0;
  }
}