/** @format */

@tailwind base;
@tailwind components;
@tailwind utilities;

.slide-right-animate {
  transform: translateX(0);
  width: 300px;
  animation: animationRight 500ms ease;
}

.slide-left-animate {
  transform: translateX(-300px);
  width: 0;
  animation: animationLeft 500ms ease;
}

@keyframes animationLeft {
  from {
    width: 300px;
  }

  to {
    width: 0;
  }
}

@keyframes animationRight {
  from {
    width: 0;
  }
  to {
    width: 300px;
  }
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 45px;
  aspect-ratio: 1;
  --c: no-repeat linear-gradient(#000 0 0);
  background: 
    var(--c) 0%   50%,
    var(--c) 50%  50%,
    var(--c) 100% 50%;
  background-size: 20% 100%;
  animation: l1 1s infinite linear;
}
@keyframes l1 {
  0%  {background-size: 20% 100%,20% 100%,20% 100%}
  33% {background-size: 20% 10% ,20% 100%,20% 100%}
  50% {background-size: 20% 100%,20% 10% ,20% 100%}
  66% {background-size: 20% 100%,20% 100%,20% 10% }
  100%{background-size: 20% 100%,20% 100%,20% 100%}
}